<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!-- site title -->
	<title>MY BANK</title>
	<!-- Stylesheets css comes here -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/animate.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="static/css/templatemo-style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>
<!-- 
Alpha Template
https://templatemo.com/tm-465-alpha
-->
</head>
<body data-spy="scroll" data-target=".navbar-collapse">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>

<!-- navigation section -->
<nav class="navbar navbar-default navbar-fixed-top sticky-navigation" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#"><img src="static/images/logo.png" class="img-responsive site-logo" alt="logo"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right main-navigation">
				<li><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#about" class="smoothScroll">ABOUT US</a></li>
				<li><a href="#service" class="smoothScroll">SERVICE</a></li>
				<li><a href="#team" class="smoothScroll">TEAM</a></li>
				<li><a href="#contact" class="smoothScroll">CONTACT</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- home section -->
<section id="home" class="tm-home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
            	<h1 class="wow fadeIn tm-home-logo" data-wow-delay="1.3s">DIGITAL BANK</h1>
				<h2 class="wow fadeIn tm-home-header" data-wow-delay="1.6s">Welcome Everyone!</h2>
				<h2 class="wow fadeInUp tm-home-header" data-wow-delay="1.9s">Better Solutions For Custemer Querys</h2>
				<a href="#about" class="smoothScroll btn btn-default btn-lg">GET STARTED</a>
			</div>
		</div>
	</div>
</section>


<!-- about section -->
<section id="about" class="tm-about">
	<div class="container">
		<div class="row">
			<div class="col-md-1 col-sm-1"></div>
			<div class="col-md-5 col-sm-12">
				<img src="static/images/about-img1.jpg" class="img-responsive wow fadeIn" data-wow-delay="0.6s" alt="about">
				<img src="static/images/about-img2.jpg" class="img-responsive wow fadeInUp" data-wow-delay="0.6s" alt="about">
			</div>
			<div class="col-md-5 col-sm-12 about-des wow fadeInRight" data-wow-delay="0.9s">
				<h1>ABOUT US</h1>
				<h3 class="tm-about-h3"></h3>
				<p>They provide services such as savings accounts, current accounts, short-term loans, overdraft protection, etc. .</p>
                <p>Banks lend money by making advances to customers on current accounts, by making installment loans, and by investing in marketable debt securities and other forms of money lending.</p>
			</div>
			</div>
	</div>
</section>

<!-- service section -->
<section id="service" class="tm-service">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Our Service</h2>
                                 <p>banking services are checking and savings accounts, loan and mortgage services, wealth management, providing Credit and Debit Cards, Overdraft services.</p>
			</div>
			<div class="col-md-4 col-sm-4 border-right border-bottom">
				
				<h3 class="tm-service-h3">Checking and Saving account</h3>

                                <p>(basic) checking accounts, premium checking accounts, student checking accounts</p>
			</div>
			<div class="col-md-4 col-sm-4 border-right border-bottom">
				
				<h3 class="tm-service-h3">Loan</h3>
                                <p>Home Loans,Car Loans,Two-Wheeler Loans,Small Business Loans.</p>
			</div>
			<div class="col-md-4 col-sm-4 border-bottom">
				
				<h3 class="tm-service-h3">Wealth Management</h3>
                                <p>Wealth management is a branch of financial services dealing with the investment needs of affluent clients.</p>
			</div>
			<div class="col-md-4 col-sm-4 border-right">
				
				<h3 class="tm-service-h3">Credit Card</h3>
                                <p>A credit card is a type of credit facility, provided by banks that allow customers to borrow funds within a pre-approved credit limit.</p>
			</div>
			
			
		</div>
	</div>
</section>

<!-- home section -->
<section id="team" class="tm-team">
	<div class="team-title">
		<h2>Meet the Team</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="container-fluid">
			<div class="col-md-2 col-sm-1"></div>
			<div class="col-md-6 col-sm-10">
				<div class="media wow fadeInUp" data-wow-delay="0.3s">
					<div class="media-object pull-left">
						<img src="static/images/team-1.jpg" class="img-responsive" alt="team">
					</div>
					<div class="media-body border-right">
						<h3 class="media-heading">Balaji J</h3>
						<h4 class="tm-team-member-heading-2">Team Lead</h4>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-10">
				<div class="media wow fadeInUp" data-wow-delay="0.6s">
					<div class="media-object pull-left">
						<img src="static/images/team-2.jpg" class="img-responsive" alt="team">
					</div>
					<div class="media-body">
						<h3 class="media-heading">Mohamed Thanvir.A</h3>
						<h4 class="tm-team-member-heading-2">Team Member-1</h4>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-10">
				<div class="media wow fadeInUp" data-wow-delay="0.9s">
					<div class="media-object pull-left">
						<img src="static/images/team-3.jpg" class="img-responsive" alt="team">
					</div>
					<div class="media-body border-right">
						<h3 class="media-heading">Ahamed Salman.A</h3>
						<h4 class="tm-team-member-heading-2">Team Member-2</h4>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-6 col-sm-10">
				<div class="media wow fadeInUp" data-wow-delay="1s">
					<div class="media-object pull-left">
						<img src="static/images/team-4.jpg" class="img-responsive" alt="team">
					</div>
					<div class="media-body border-right">
						<h3 class="media-heading">Aravinth kumar.K</h3>
						<h4 class="tm-team-member-heading-2">Team Member-3</h4>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>

<!-- contact section -->
<section id="contact" class="tm-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Send Email</h2>
			</div>
			<div class="col-md-4 col-sm-5 address wow fadeInUp" data-wow-delay="0.6s">
				<div>
					<h3 class="tm-contact-h3">Address</h3>
					<p>123, MIET,TRICHY,TAMILNADU-007.</p>
				</div>
				<div>
					<h3 class="tm-contact-h3">Email</h3>
					<p><a href="mailto:hello@company.com" class="tm-contact-link">Digitalbank@gmail.com</a></p>
				</div>
				<div>
					<h3 class="tm-contact-h3">Phone</h3>
					<p><a href="tel:0102003400" class="tm-contact-link">+91 8765432190</a> | <a href="tel:0807006500" class="tm-contact-link">+91 9876543210</a></p>
				</div>		
			</div>	
			<div class="col-md-8 col-sm-7 contact-form wow fadeInRight" data-wow-delay="0.9s">
				<form action="#" method="post" role="form">
					<div class="col-md-6 col-sm-6">
						<input class="form-control" type="text" placeholder="Your Name">
					</div>
					<div class="col-md-6 col-sm-6">
						<input class="form-control" type="email" placeholder="Your Email">
					</div>
					<div class="col-md-12 col-sm-12">
						<input class="form-control" type="text" placeholder="Your Subject">
						<textarea class="form-control" placeholder="Your Message" rows="6"></textarea>
					</div>
					<div class="col-md-offset-6 col-md-6 col-sm-12">
						<input class="form-control" type="submit" value="SEND MESSAGE">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img src="static/images/logo.png" class="img-responsive" alt="footer logo">
				<p>Copyright &copy; Digital bank
				<ul class="social-icon">
					<li class="wow bounceIn" data-wow-delay="0.3s"><a href="#" class="fa fa-facebook"></a></li>
					<li class="wow bounceIn" data-wow-delay="0.6s"><a href="#" class="fa fa-twitter"></a></li>
					<li class="wow bounceIn" data-wow-delay="0.9s"><a href="#" class="fa fa-instagram"></a></li>
					<li class="wow bounceIn" data-wow-delay="1s"><a href="#" class="fa fa-dribbble"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- javascript js comes here -->
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/smoothscroll.js"></script>
<script src="static/js/jquery.nav.js"></script>
<script src="static/js/isotope.js"></script>
<script src="static/js/imagesloaded.min.js"></script>
<script src="static/js/nivo-lightbox.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/custom.js"></script>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "d6a40e40-7db4-4068-b664-fad905ba936a", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "6ba0d39b-d5b5-4924-beb3-8737522e070c", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

</body>
</html>